<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars App</title>
</head>
<body>
    <h1>Create a New Car!</h1>
    <form action="/cars" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />
        </div>

        <div>
            <label for="typeOfVehicle">Type of Vehicle</label>
            <input type="text" name="typeOfVehicle" id="typeOfVehicle" />
        </div>

        <div>
            <button type="submit">Add Car</button>
        </div>
    </form>
    
</body>
</html>