<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Your Car</title>
</head>
<body>
    <h1>View Your Car</h1>
    <div>
        <h2>
            <%= car.name %>
        </h2>
        <p><%= car.typeOfVehicle %></p>
    </div>
    <a href="/">Return to Homepage</a>
</body>
</html>